[Unit]
Description=Pylos SSH Intrusion Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/pylos daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
